
.tab-pane
{
    -fx-tab-min-width:120px;
}

.tab-header-background {
	-fx-background-color: transparent;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}

.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-family: Yuanti SC;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}


.table-row-cell{
    -fx-background-color:  transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: #3c3c3c;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-row-cell:odd{
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;  
}

.table-row-cell:selected {
    -fx-background-color: lightgrey;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}


.imageView {
	-fx-effect: dropshadow(one-pass-box, grey, 7, 1, 0.1, 0.1);
}
#onQuestion{
	-jfx-selected-color: white;
	-jfx-unselected-color: white;
	-fx-effect: dropshadow(three-pass-box, white, 11, 0.8, 0.5, 0.1);
}

#radio_correct{
	-jfx-selected-color: white;

}

#radio_incorrect{
	-jfx-selected-color: grey;

}

.button {
	-fx-background-color: transparent;
}

.button:hover {
	-fx-effect: dropshadow(one-pass-box, grey, 7, 1, 0.1, 0.1);
}

#group:hover {
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
    -fx-scale-z: 1.5;
    -fx-background-color: lightgrey;
}

.list-view .list-cell {
	-fx-background-color: #232323;
	-fx-text-fill: white;
	-fx-alignment: center;
}

.list-view .list-cell:selected:focused {
    -fx-background-color: lightgrey;
    -fx-text-fill: black;
}

.list-view {
	-fx-background-color: #232323;
}

.list-view .scroll-bar:vertical {
	-fx-background-color: #595959;
	}
	
.list-view .scroll-bar:vertical .thumb {
	-fx-background-color: black;
	}
	
.chart-pie-label {
	-fx-fill: white;
	-fx-font-size: 30;
}

.chart-pie-label-line {
	-fx-fill: white;
	-fx-stroke: white;
}
